#add_menu {
    background-color: rgba(105, 105, 105, 0.678);
    position: absolute;

    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;

    z-index: 2;
    backdrop-filter: blur(0px);

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(-50%, -50%, 0);

}

.error,
.error>input {
    color: red;
    border-color: red;
}


.field-input {
    padding: 5px;
    width: 100%;
    font-size: 2em;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}
.field-input > span{
    margin-left:25px;
 
    font-size:15px;
    color:red;
    visibility:hidden;
}
.action_add_menu {
    display: flex;
    justify-content: space-around;
}

:root {
    font-family: monospace;
}

#no-record-bubbles {



    transform: translate(0, -100%);
    background-color: rgba(25, 25, 25, 0.35);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no-record-bubbles>.loading_dots {
    margin-bottom: unset;
}

#no-record {

    color: rgba(0, 0, 0, .25);
    font-size: 3.5rem !important;
    transform: translate(-25%, -100%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.action_add_menu>a {
    padding: 1em 3em;
    height: 1em;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 5px;
    border: 5px solid;
    font-family: monospace;
    font-size: 1.35em;

}

.action_add_menu>a:hover {
    border-style: outset;
}

.action_add_menu>a:active {
    border-style: inset;

}

.action_add_menu>a:active>div {
    transform: translate(2px, 2px);
}

.drop_activate > p,.drop_item_activate {
    background-color: rgba(92, 217, 255, 0.541)
}
.drop-down>a {
    padding: .5rem 1.5rem;
    box-sizing: border-box;
    display: inline-block;
    animation: rotate90degrev .25s;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 1;
}

.drop-down,.drop-items,.drop_item_activate {
    background-position: center;
    transition: background 0.25s;
    user-select: none;
}
        
.drop-down:hover,.drop-items:hover {
    background: #ffffff77 radial-gradient(circle, transparent 1%, #ffffff79 1%) center/15000%;


}
#dropdown > .drop-items,.drop_item_activate{
    animation: drop_hidden .25s;
    animation-fill-mode: forwards;
 
}

.drop_activate > .drop-items,.drop_item_activate{
    animation: drop_show .25s !important;
    animation-fill-mode: forwards;  
 
}


.drop_activate > .drop-down:hover,.drop_item_activate:hover{
    background: rgba(92, 217, 255, 0.541) radial-gradient(circle, transparent 1%, rgba(92, 217, 255, 0.541) 1%) center/15000%;
}
.drop-down:active,.drop-items:active {

    background-size: 100%;
    transition: background 0s;
}

.drop_activate>.drop-down>a {
    animation: rotate90deg .5s;
    animation-fill-mode: forwards;

}

#cancel {
    background-color: gray;
    color: white;
    border-color: rgb(142, 142, 142);
}

#save {
    border-color: rgb(242, 242, 242);
}

.error>input::placeholder {
    font-family: monospace;
    color: red;
}

input[type=number] {
    width: 65% !important;
}

.select_input {
    padding: .25rem 1rem;
    width: 25%;
    margin-left: 15px;

}

#add_menu_fields>label>input {
    padding: 1rem;
    width: 90%;
    height: 1rem;
    font-size: .65em;
    font-family: monospace;
    margin-left: 1rem;
    border-style: inset;
}
#add_menu_fields{
    display: grid;
    grid-template-columns: repeat(auto-fill,1fr);
}
.add_menu_form {

    position: absolute;
    background-color: rgb(223, 223, 223);
    height: 66%;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    padding: 50px 100px;
    padding-bottom: 0;

    grid-template-rows: 5fr 1.5fr;
    row-gap: 25px;
    border-radius: 5px;
    border: 15px solid rgb(100, 97, 97);
    border-width: 25px;
}

.dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1rem;

}

.anim_dot {
    animation: loading_dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.drop-items {
    list-style-type: none;
    color:white;
    background-color: none;
    padding:5px 5px;
    padding-left:35px   ;
    margin: 5px 10px 5px 25px;
    font-size: 2em;   
    font-family: monospace;
    user-select: none;
    overflow: hidden;
}

select {
    border-width: 2px;
    border-style: inset;
}

.loading_dots {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatey(25%);
    margin-bottom: auto;
}

.loading_dots>dot {
    opacity: .8;
}

.dot:nth-child(2) {
    animation-delay: .2s;
}

.dot:last-child {
    animation-delay: .3s;
}

.loading-bar {
    background-color: rgb(71, 71, 71);
    animation: loading_bars;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: .5s;
}

@keyframes rotate90degrev {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0);
    }

}

@keyframes rotate90deg {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes loading_bars {
    0% {
        background-color: rgb(71, 71, 71);
    }

    35% {
        background-color: rgb(134, 134, 134);
    }

    70% {
        background-color: rgb(71, 71, 71);
    }

    100% {
        background-color: rgb(71, 71, 71);
    }
}

@keyframes loading_dots {
    0% {
        transform: scaleY(1);
        background-color: rgba(187 187 187);
        opacity: .8;
    }

    35% {
        transform: rotate(179deg) scaleY(1.5) scaleX(1.2);
        background-color: rgb(24, 24, 24);
        opacity: 1;

    }

    70% {

        transform: rotate(360deg) scaleY(1) scaleX(1);
        background-color: rgba(187 187 187);
        opacity: .8;
    }

    100% {
        transform: scaleY(1);
        background-color: rgba(187 187 187);
        opacity: .8;

    }
}

.not_hidden {
    display: block !important;
    visibility: unset !important;
}

.hidden {
    display: none !important;
}

.blur_anim {

    animation-name: example;
    animation-duration: .5s;
    animation-fill-mode: forwards;

}

@keyframes example {
    0% {

        background-color: rgba(105, 105, 105, 0);
        backdrop-filter: blur(2px);
    }

    100% {
        backdrop-filter: blur(5px);
        background-color: rgba(105, 105, 105, 0.7);
    }
}
@keyframes drop_show{
    0% {

        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}
@keyframes drop_hidden{
    0% {

        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}