.error{
    color:red;
    background-color: yellow;
    display:inline-block;
}
.action{
    margin:7px 0;
}
.action-wrapper>hr{

    border-width: 2px;
    
    border-radius: 5px;
    width: 100%;
    border-style: inset;
    border-color: rgb(255 255 255);
}
a{
    text-decoration: none;
    color:rgb(0 123 255);
 
}

#formwrapper{
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-50%,-35%);

    background-color: rgb(214, 214, 214);
    border: 15px solid rgb(100, 97, 97);
    padding:5px 15px;
    border-radius: 5%;
    border-style: inset;
}
.action-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    flex-direction: column;
   
    
}   
.actionbutton:hover{
    border-style: outset;
    
}
.actionbutton:active{
    border-style:inset  ;
    
}
.actionbutton:active > div{
    transform: translate(1px,1px);
}
input[type=text],input[type=password]{
    width: 100%;
}
.actionbutton{
    padding:.7rem 6rem;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 0%;
    white-space: nowrap;
    margin: 7px 0;
    border-radius: 5px;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(229 229 229);
    
}